<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Parts of Speech tagger</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Parts of Speech Tagger</h2>
  <form  action="/tag" method="post" role="form">
   
    <div class="form-group">
      <label for="sentence">Enter Sentence:</label>
      <input type="text" class="form-control" id="sentence" name="sentence" placeholder="Hindi Sentence">
      <br>
     
 
 
    </div>
    <button type="submit" class="btn btn-success">Tag POS</button>
  </form>
 
  <br>
</div>
<br>            
</div>
</div>
</body>
</html>
